DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:55432/financedb"
JWT_SECRET=a9F$kL2pQ8zX!vR7mN4sT@bY6hJ#eW3uC5dG1xH%oP0qZrU&IyEwKjL9fVtM2nB8
JWT_EXPIRES_IN="7d"
PORT=3000
NODE_ENV="development"